.delete-button {
    text-align: center;

}

.watched {
    text-align: center;
}

.poster {
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 45px
}