.container {
    /* background-color: rgb(243, 219, 231); */
    background: linear-gradient(to bottom, #FFC7D8 0%, #FFFFFF 71%, #DDEAED 100%);
    width: 100%;
    border-radius: 50px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-shadow: 13px 15px 28px -3px rgba(0, 0, 0, 0.72);
}

.poster {
    min-width: 30px;
    max-width: 25%;
    min-height: 45px;
    border-radius: 50px;
    float: left;
    margin:20px;
    padding: 0 20px 0 0;
}

.overview {
    min-width: 60%;
    margin: 10px;
    border: 10px;
    padding: 10px;
    /* border-radius: 50px; */
}

h2 {
    /* border-radius: 50px; */
    /* background-color: rgb(128, 0, 255); */
    color: rgb(21, 19, 19);
    text-align: right;
    margin: 10px;
    border: 10px;
    padding-top: 50px;
    padding: 5px;
    /* box-shadow: 13px 15px 28px -3px rgba(0, 0, 0, 0.72); */
}
