.searchbar {
  align-items: top left;
  border-bottom: 1px solid lightgrey;
}


.label {
  padding: 10px;
  font-size: 2em;
}

.input {
  padding-left: 10px;
  font-size: 1.2em;
}

.button {
  padding: 10px;
  border-radius: 45px;
  width: 5em;
}


.contain {

    overflow: auto;
    white-space:nowrap;
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 100px;
    
}


.row {
  overflow-x: scroll;
  width: 100%;
}


/* Media queries */
@media screen and (max-width:750px){
  .contain {

    overflow: auto;
    white-space:nowrap;
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 65px;
    
}

.label {
  padding: 6px;
  font-size: 1.2em;
}

.input {
  padding-left: 6px;
  font-size: 0.8em;
}

.button {
  padding: 6px;
  border-radius: 30px;
  width: 3.2em;
}
  
  
}