.searchbar {
  align-items: top left;
  border-bottom: 1px solid lightgrey;
}


.label {
  padding: 10px;
  font-size: 2em;
}

.input {
  padding-left: 10px;
  font-size: 1.2em;
}

.button {
  padding: 10px;
  border-radius: 45px;
  width: 5em;
}