.searchbar {
  align-items: top left;
  border-bottom: 1px solid lightgrey;
}


.label {
  padding: 10px;
  font-size: 2em;
}

.input {
  padding-left: 10px;
  font-size: 1.2em;
}

.button {
  padding: 10px;
  border-radius: 45px;
  width: 5em;
}


.contain {
  /* align-items: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto; */
  /* grid-template-rows: auto auto 1fr 1fr 1fr auto auto; */
    /* grid-gap:10px; */
    /* height: calc(100vh - 10px); */
    overflow: auto;
    white-space:nowrap;
    width: 1000px;
}


.row {
  overflow-x: scroll;
  width: 100%;
}
